[system]
address = "127.0.0.1"
port = 9100
dataDir = "/Users/liyuntang/go/default/src/NOS/kvServer/data"
logFile = "/Users/liyuntang/go/default/src/NOS/kvServer/logs/kv.log"


[etcd]
# 租约时间，单位s
lease = 2
# 连接etcd的超时时间，单位s
etcdTimeOut = 1
etcdDir = "/nos/kvservers"
etcdServers = ["10.10.10.64:2379"]

