[system]
address = "127.0.0.1"
port = 9000
tmpDir = "/Users/nice/go/default/src/NOS/nosServer/tmp"
logFile = "/Users/nice/go/default/src/NOS/nosServer/logs/nos.log"
max_replicas = 3


[etcd]
etcdTimeOut = 1
etcdDir = "/nos/kvservers"
etcdServers = ["10.10.10.199:2379"]

[metadata]
user = "nos_w"
passwd = "123456"
address = "10.10.10.69"
port = 10000
charset = "utf8mb4"
database = "aaa"
table = "nos_metadata"
